/* Drop and Recreate the Database */
USE [master];
EXEC msdb.dbo.sp_delete_database_backuphistory @database_name='TermProject';
GO
IF EXISTS(select * from sys.databases where name='TermProject')
	ALTER DATABASE [TermProject] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
GO
DROP DATABASE IF EXISTS [TermProject];
GO
CREATE DATABASE [TermProject];
GO
USE [TermProject];
GO
/* Create Database Objects */

SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO

-- BEGINNING TRANSACTION STRUCTURE
PRINT 'Beginning transaction STRUCTURE'
BEGIN TRANSACTION _STRUCTURE_
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING OFF
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO
-- Create Table Customers
Print 'Create Table Customers'
GO
CREATE TABLE [dbo].[Customers] (
		[CustomerID]       nvarchar(5) NOT NULL PRIMARY KEY,
		[CompanyName]      nvarchar(40) NOT NULL,
		[ContactName]      nvarchar(30) NULL,
		[ContactTitle]     nvarchar(30) NULL,
		[Address]          nvarchar(60) NULL,
		[City]             nvarchar(15) NULL,
		[Region]           nvarchar(15) NULL,
		[PostalCode]       nvarchar(10) NULL,
		[Country]          nvarchar(15) NULL,
		[Phone]            nvarchar(24) NULL,
		[Fax]              nvarchar(24) NULL
)
ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING OFF
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO
-- Create Table Employees
Print 'Create Table Employees'
GO
CREATE TABLE [dbo].[Employees] (
		[EmployeeID]		int NOT NULL PRIMARY KEY,
		[LastName]			nvarchar(30) NOT NULL,
		[FirstName]			nvarchar(15) NOT NULL,
		[Address]			nvarchar(30),
		[City]				nvarchar(20),
		[Province]			nvarchar(2),
		[PostalCode]		nvarchar(7),
		[Phone]				nvarchar(14),
		[BirthDate]			date NOT NULL
)
ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING OFF
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO
-- Create Table Shippers
Print 'Create Table Shippers'
GO
CREATE TABLE [dbo].[Shippers] (
		[ShipperID]       int NOT NULL PRIMARY KEY,
		[CompanyName]     nvarchar(40) NOT NULL
)
ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING OFF
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO
-- Create Table Suppliers
Print 'Create Table Suppliers'
GO
CREATE TABLE [dbo].[Suppliers] (
		[SupplierID]     int NOT NULL PRIMARY KEY,
		[Name]           nvarchar(50) NULL,
		[Address]        nvarchar(50) NULL,
		[City]           nvarchar(50) NULL,
		[Province]       nvarchar(50) NULL
)
ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO
-- Create Table Products
Print 'Create Table Products'
GO
CREATE TABLE [dbo].[Products] (
		[ProductID]           int NOT NULL PRIMARY KEY,
		[SupplierID]          int NULL REFERENCES Suppliers(SupplierID),
		[CategoryID]          int NULL,
		[ProductName]         nvarchar(40) NOT NULL,
		[EnglishName]         nvarchar(40) NULL,
		[QuantityPerUnit]     nvarchar(20) NULL,
		[UnitPrice]           money NULL,
		[UnitsInStock]        smallint NULL,
		[UnitsOnOrder]        smallint NULL,
		[ReorderLevel]        smallint NULL,
		[Discontinued]        bit NOT NULL
)
ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING OFF
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO
-- Create Table Orders
Print 'Create Table Orders'
GO
CREATE TABLE [dbo].[Orders] (
		[OrderID]            int NOT NULL PRIMARY KEY,
		[CustomerID]         nvarchar(5) NOT NULL REFERENCES Customers(CustomerID),
		[EmployeeID]         int NULL REFERENCES Employees(EmployeeID),
		[ShipName]           nvarchar(40) NULL,
		[ShipAddress]        nvarchar(60) NULL,
		[ShipCity]           nvarchar(15) NULL,
		[ShipRegion]         nvarchar(15) NULL,
		[ShipPostalCode]     nvarchar(10) NULL,
		[ShipCountry]        nvarchar(15) NULL,
		[ShipperID]          int NULL REFERENCES Shippers(ShipperID),
		[OrderDate]          smalldatetime NULL,
		[RequiredDate]       smalldatetime NULL,
		[ShippedDate]        smalldatetime NULL,
		[Freight]            money NULL
)
ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING OFF
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO
-- Create Table OrderDetails
Print 'Create Table OrderDetails'
GO
CREATE TABLE [dbo].[OrderDetails] (
		[OrderID]       int NOT NULL REFERENCES Orders(OrderID),
		[ProductID]     int NOT NULL REFERENCES Products(ProductID),
		[UnitPrice]     money NOT NULL,
		[Quantity]      smallint NOT NULL,
		[Discount]      real NOT NULL,
PRIMARY KEY  ([OrderID], [ProductID])
)
ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING OFF
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN
	IF @@TRANCOUNT>0
		ROLLBACK
	
	SET NOEXEC ON
END
GO

-- COMMITTING TRANSACTION STRUCTURE
PRINT 'Committing transaction STRUCTURE'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _STRUCTURE_
GO

SET NOEXEC OFF
-- BEGINNING TRANSACTION DATA
PRINT 'Beginning transaction DATA'
BEGIN TRANSACTION _DATA_
GO


SET NOCOUNT ON
GO


-- Deleting from table: Customers
PRINT 'Deleting from table: Customers'
DELETE FROM [dbo].[Customers]
-- Deleting from table: Customers
PRINT 'Deleting from table: Employees'
DELETE FROM [dbo].[Employees]
-- Deleting from table: Shippers
PRINT 'Deleting from table: Shippers'
DELETE FROM [dbo].[Shippers]
-- Deleting from table: Suppliers
PRINT 'Deleting from table: Suppliers'
DELETE FROM [dbo].[Suppliers]
-- Deleting from table: Products
PRINT 'Deleting from table: Products'
DELETE FROM [dbo].[Products]
-- Deleting from table: Orders
PRINT 'Deleting from table: Orders'
DELETE FROM [dbo].[Orders]
-- Deleting from table: OrderDetails
PRINT 'Deleting from table: OrderDetails'
DELETE FROM [dbo].[OrderDetails]

-- Insert scripts for table: Customers
PRINT 'Inserting rows into table: Customers'
INSERT INTO [dbo].[Customers] ([Region], [PostalCode], [Fax], [ContactName], [City], [CustomerID], [Address], [ContactTitle], [Phone], [CompanyName], [Country]) VALUES (NULL, N'12209', N'030-0076545', N'Maria Anders', N'Berlin', N'ALFKI', N'Obere Str. 57', N'Sales Representative', N'030-0074321', N'Alfreds Futterkiste', N'Germany')
INSERT INTO [dbo].[Customers] ([Region], [PostalCode], [Fax], [ContactName], [City], [CustomerID], [Address], [ContactTitle], [Phone], [CompanyName], [Country]) VALUES (NULL, N'05021', N'(5) 555-3745', N'Ana Trujillo', N'México D.F.', N'ANATR', N'Avda. de la Constitución 2222', N'Owner', N'(5) 555-4729', N'Ana Trujillo Emparedados y helados', N'Mexico')
INSERT INTO [dbo].[Customers] ([Region], [PostalCode], [Fax], [ContactName], [City], [CustomerID], [Address], [ContactTitle], [Phone], [CompanyName], [Country]) VALUES (NULL, N'05023', NULL, N'Antonio Moreno', N'México D.F.', N'ANTON', N'Mataderos  2312', N'Owner', N'(5) 555-3932', N'Antonio Moreno Taquería', N'Mexico')

-- Insert scripts for table: Employees
PRINT 'Inserting rows into table: Employees'
INSERT INTO [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [Address], [City], [Province], [PostalCode], [Phone], [BirthDate]) VALUES (1, N'Davolio' ,N'Nancy', N'507 - 20th Ave. E.Apt. 2A', N'Vancouver', N'BC', N'V7M 8T9',         N'(604) 555-9857', '1948-12-08') 
INSERT INTO [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [Address], [City], [Province], [PostalCode], [Phone], [BirthDate]) VALUES (2, N'Fuller', N'Andrew', N'908 W. Capital Way', N'Burnaby', N'BC', N'V5V 8H9',                  N'(604) 555-9482', '1952-02-19')  
INSERT INTO [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [Address], [City], [Province], [PostalCode], [Phone], [BirthDate]) VALUES (3,	N'Leverling', N'Janet', N'722 Moss Bay Blvd.', N'Richmond', N'BC', N'V2K 8Y7',               N'(604) 555-3412', '1963-08-30')

-- Insert scripts for table: Shippers
PRINT 'Inserting rows into table: Shippers'
INSERT INTO [dbo].[Shippers] ([ShipperID], [CompanyName]) VALUES (1, N'Speedy Express')
INSERT INTO [dbo].[Shippers] ([ShipperID], [CompanyName]) VALUES (2, N'United Package')
INSERT INTO [dbo].[Shippers] ([ShipperID], [CompanyName]) VALUES (3, N'Federal Shipping')

-- Insert scripts for table: Suppliers
PRINT 'Inserting rows into table: Suppliers'
INSERT INTO [dbo].[Suppliers] ([Province], [SupplierID], [Name], [City], [Address]) VALUES (NULL, 1, N'Supplier A', NULL, NULL)
INSERT INTO [dbo].[Suppliers] ([Province], [SupplierID], [Name], [City], [Address]) VALUES (NULL, 2, N'Supplier B', NULL, NULL)
INSERT INTO [dbo].[Suppliers] ([Province], [SupplierID], [Name], [City], [Address]) VALUES (NULL, 3, N'Supplier C', NULL, NULL)

-- Insert scripts for table: Products
PRINT 'Inserting rows into table: Products'
INSERT INTO [dbo].[Products] ([SupplierID], [Discontinued], [CategoryID], [ReorderLevel], [ProductName], [ProductID], [QuantityPerUnit], [EnglishName], [UnitsInStock], [UnitsOnOrder], [UnitPrice]) VALUES (1, 0, 1, 10, N'Chai', 1, N'10 boxes x 20 bags', N'Dharamsala Tea', 39, 0, 18.0)
INSERT INTO [dbo].[Products] ([SupplierID], [Discontinued], [CategoryID], [ReorderLevel], [ProductName], [ProductID], [QuantityPerUnit], [EnglishName], [UnitsInStock], [UnitsOnOrder], [UnitPrice]) VALUES (1, 0, 1, 25, N'Chang', 2, N'24 - 12 oz bottles', N'Tibetan Barley Beer', 17, 40, 19.0)
INSERT INTO [dbo].[Products] ([SupplierID], [Discontinued], [CategoryID], [ReorderLevel], [ProductName], [ProductID], [QuantityPerUnit], [EnglishName], [UnitsInStock], [UnitsOnOrder], [UnitPrice]) VALUES (1, 0, 2, 25, N'Aniseed Syrup', 3, N'12 - 550 ml bottles', N'Licorice Syrup', 13, 70, 10.0)

-- Insert scripts for table: Orders
PRINT 'Inserting rows into table: Orders'
INSERT INTO [dbo].[Orders] ([ShipName], [ShippedDate], [ShipPostalCode], [ShipCity], [ShipAddress], [ShipCountry], [OrderID], [ShipperID], [EmployeeID], [CustomerID], [OrderDate], [Freight], [RequiredDate], [ShipRegion]) VALUES (N'Franchi S.p.A.', '19910515 00:00:00', N'10100', N'Torino', N'Via Monte Bianco 34', N'Italy', 10000, 3, 6, N'FRANS', '19910510 00:00:00', 4.45, '19910607 00:00:00', NULL)
INSERT INTO [dbo].[Orders] ([ShipName], [ShippedDate], [ShipPostalCode], [ShipCity], [ShipAddress], [ShipCountry], [OrderID], [ShipperID], [EmployeeID], [CustomerID], [OrderDate], [Freight], [RequiredDate], [ShipRegion]) VALUES (N'Mère Paillarde', '19910523 00:00:00', N'H1J 1C3', N'Montréal', N'43 rue St. Laurent', N'Canada', 10001, 3, 8, N'MEREP', '19910513 00:00:00', 79.45, '19910610 00:00:00', N'Québec')
INSERT INTO [dbo].[Orders] ([ShipName], [ShippedDate], [ShipPostalCode], [ShipCity], [ShipAddress], [ShipCountry], [OrderID], [ShipperID], [EmployeeID], [CustomerID], [OrderDate], [Freight], [RequiredDate], [ShipRegion]) VALUES (N'Folk och fä HB', '19910517 00:00:00', N'S-844 67', N'Bräcke', N'Åkergatan 24', N'Sweden', 10002, 3, 3, N'FOLKO', '19910514 00:00:00', 36.18, '19910611 00:00:00', NULL)

-- Insert scripts for table: OrderDetails
PRINT 'Inserting rows into table: OrderDetails'
INSERT INTO [dbo].[OrderDetails] ([Quantity], [UnitPrice], [OrderID], [ProductID], [Discount]) VALUES (4, 27.0, 10000, 17, 00.0E+0)
INSERT INTO [dbo].[OrderDetails] ([Quantity], [UnitPrice], [OrderID], [ProductID], [Discount]) VALUES (30, 9.8, 10001, 25, 15.0E-2)
INSERT INTO [dbo].[OrderDetails] ([Quantity], [UnitPrice], [OrderID], [ProductID], [Discount]) VALUES (40, 12.8, 10001, 40, 00.0E+0)


-- COMMITTING TRANSACTION DATA
PRINT 'Committing transaction DATA'
IF @@TRANCOUNT>0
	COMMIT TRANSACTION _DATA_
GO

SET NOEXEC OFF

